/* ==========================================================================
   Custom Fonts
   ========================================================================== */

@font-face {
    font-family: 'cadara';
    src: url('../fonts/cadara.eot');
    src: url('../fonts/cadara.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cadara.woff') format('woff'),
         url('../fonts/cadara.ttf') format('truetype'),
         url('../fonts/cadara.svg#cadara') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sansumi';
    src: url('../fonts/sansumi.eot');
    src: url('../fonts/sansumi.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sansumi.woff') format('woff'),
         url('../fonts/sansumi.ttf') format('truetype'),
         url('../fonts/sansumi.svg#sansumi') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sansumi-light';
    src: url('../fonts/sansumi-ultralight.eot');
    src: url('../fonts/sansumi-ultralight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sansumi-ultralight.woff') format('woff'),
         url('../fonts/sansumi-ultralight.ttf') format('truetype'),
         url('../fonts/sansumi-ultralight.svg#sansumi-ultralight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sansumi-bold';
    src: url('../fonts/sansumi-demibold.eot');
    src: url('../fonts/sansumi-demibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sansumi-demibold.woff') format('woff'),
         url('../fonts/sansumi-demibold.ttf') format('truetype'),
         url('../fonts/sansumi-demibold.svg#sansumi-demibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aero';
    src: url('../fonts/aeroviasbrasilnf.eot');
    src: url('../fonts/aeroviasbrasilnf.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aeroviasbrasilnf.woff') format('woff'),
         url('../fonts/aeroviasbrasilnf.ttf') format('truetype'),
         url('../fonts/aeroviasbrasilnf.svg#aeroviasbrasilnf') format('svg');
    font-weight: normal;
    font-style: normal;

}